<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friend %>
  <div class="card card-header results-block">
    <strong>First Name: </strong> <%= @friend %>
    <strong>Last Name: </strong> <%= @friend %>
    <strong>Email: </strong> <%= @friend %>
    <%= link_to ' ', "#", class: "fa fa-plus-circle", id: "add-friend", method: :post %>
  </div>
<% end %>